@import "../../css/_vars";

.header {
  padding: $normalGutter;

  span {
    opacity: 0.5;
  }

  nav {
    text-align: center;
  }

  a {
    color: $colorText;
    text-decoration: none !important;
    transition: $transitionSpeed;
    padding: 0 2px;

    &:hover {
      color: $colorHeading;
    }
  }
}
