@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

$siteWidth: 1100px;

$normalGutter: 16px;
$smallGutter: 8px;
$largeGutter: 24px;
$largerGutter: 48px;

$fontFamily: "Roboto";
$fontFamilyHeading: "Noto Serif";

$colorWhite: #fff;
$colorBlack: #000;
$colorDark: #070707;
$colorGrey: #40434e;
$colorGreyLight: #ebeff5;
$colorPrimary: #eff3fd;
$colorPrimaryDark: #9591e9;
$colorText: #070707;
$colorHeading: #af0a0f;

$transitionSpeed: 0.22s;

@mixin wrapped($padded: true) {
  > div {
    max-width: $siteWidth;
    margin: 0 auto;
    position: relative;

    @if $padded {
      padding: $normalGutter;
    }
  }
}
