@import "./_vars";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $colorPrimary;
  color: $colorText;
  margin: 0;
  font-family: $fontFamily, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyHeading, serif;
  color: $colorRed;
}

img {
  max-width: 100%;
}

a {
  color: $colorText;
  text-decoration: none !important;
  transition: $transitionSpeed;

  &:hover {
    color: $colorRed;
  }
}

section {
  max-width: $siteWidth;
  padding: $normalGutter;

  &.intro {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid $colorGrey;

    h1 {
      margin-top: 0;
    }
  }
}

article {
  & + article {
    margin-top: $normalGutter;
    border-top: 1px solid $colorGrey;
    padding-top: $normalGutter;
  }
}

.meta {
  * {
    display: inline-block;
  }

  * + * {
    margin-left: $smallGutter;
  }

  .subject {
    color: $colorBlue;
  }

  .name {
    color: $colorGreen;
  }
}

.post {
  & + .post {
    margin-top: $smallGutter;
  }
}

.postInner {
  display: inline-block;
  background-color: $colorPost;
  padding: $smallGutter $normalGutter;
  border-bottom: 1px solid $colorPostBorder;
  border-right: 1px solid $colorPostBorder;

  p {
    padding-left: $normalGutter;
  }
}
