@import "./_vars";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $colorPrimary;
  color: $colorText;
  margin: 0;
  font-family: $fontFamily, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyHeading, serif;
  color: $colorHeading;
}

img {
  max-width: 100%;
}
